.footer {
  display: flex;
  color: #d9d9d9;
  background-color: #323232;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 6vw;
  padding-top: 80px;
  margin-top: 80px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-content-left, .footer-content-center, .footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 50%;
}

.footer-content-center,.footer-content-right {
  align-items: center;
  width: 25%;
}


.footer-content-left li, .footer-content-center li, .footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-center h2, .footer-content-right h2 {
  color: #fff;
  font-weight: 600;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-social-icon img {
  width: 34px;
  cursor: pointer;
}

.footer hr {
  width: 100%;
  height: 2px;
  background-color: gray;
  margin: 20px 0;
  border: none;
}

.footer-copy-right {
  text-align: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }

  .footer-content-left, .footer-content-center, .footer-content-right {
    width: 100%;
    align-items: start;
  }
}